.logo {
width: 275px;
}




.titlebox {
padding: 10px;
border: 10px double #000;
margin-top: 15px;
}

.sujetBox{
padding: 10px;
margin-top: 15px;
margin-left: 25px;
margin-right: 50px;

}
.textbox {
margin-top: 15px;
padding : 5px;
text-align: justify;
text-justify: inter-word;
color:black;
}

.titre {
background-color:#6f42c1 ;
color: #ffffff;
padding: 20px;
margin-top: 15px;
margin-bottom: 30px;
}

.input {
margin: 0 auto;
}

.borderbox {
border: 2px solid #0d6efd ;
background-color:#cccccc;
}

.borderboxSujet {
border: 2px solid #0d6efd ;
background-color:#cccccc;
margin-bottom : 20px;
margin-left : 85px;
}

.sujet{
background-color:#757575;
}

.sujetTexte{
color: #ffffff;
}

.link{
border: 2px solid #0d6efd ;
}

.pdfImg{
display: block;
  margin-left: auto;
  margin-right: auto;
}

.departement{
text-decoration: none;
color:white;
margin-top: 50px;
}

.Titredepartement{
margin-top: 75px;
color:black;
}

.hrdepartement{
color:black;
}


.Titrepresentationdepartement{
color:black;
}

.boutonSujet{
background:#cccccc;
margin-left : auto;
margin-right : auto;
}

.popUpFrame{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  left:0;
  width:100%;
  z-index:10000;
}
.popUpFrame .headerPopUp{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.popUpFrame > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-height: 90%;
  min-height: 100px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scroll-margin: 10px;
  vertical-align: middle;
  width: 80%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
  padding-bottom: 60px;
}
.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  line-height: 25px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.popupCloseButton:hover {
  background-color: #ccc;
}

